<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 bg-default mx-auto text-center" style="background-image:
    url('./assets/backgrounds/bg-corona.png');">
          <div class="logo">
            <a href="javascript:void(0)" routerLinkActive='active'
            routerLink='/'>
            <img src="./assets/logos/logo-corona.png" alt="">

            </a>
          </div>
          <div class="element">
            <img src="./assets/icons/element.png" alt="">
          </div>
          <div class="infos mt-3">
            <h1>
              Fugiu da folia pra <br>
              curtir o Paraiso?
            </h1>
            <h5>
              Isso vale um Brinde! Quanto mais longe <br>
              a viagem, mais coronas você ganha.
            </h5>
            <h6>
              Inscrições a partir de:
            </h6>
            <h1>
              21/02/20
            </h1>
            <small>
              Beba com moderação
            </small>

          </div>
          <div class="bottle">
            <img src="./assets/icons/bottle.png" alt="">
          </div>

    </div>
  </div>
</div>
