@import 'helpers';
@import 'variables';

.logo img {
  position: absolute;

  @media only screen and (max-width: 768px) {
    left: 25px;
    top: 25px;

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    left: 35%;
    top: 25px;

  }
}


.logo img {

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    width: 34%;

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
}

h5 {
  margin-top: 20px;
}

h1 {

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    margin-top: 200px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    margin-top: 180px;
  }
}

.botoes {
  margin: 30px 0;

  a {
    display: inline-block;
    margin: 0 10px;
  }
}

.element img {
  position: absolute;

  transform: scale(1);
  transition: all (1s);

  &:hover {
    // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
    transition: all (500ms);
  }

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    width: 25%;
    right: 25px;
    top: 25px;

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

    right: 35%;
    top: 25px;

  }
}

.premio {
  border: 3px solid #001E3F;

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    padding: 38px 10px;


  }



  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    padding: 38px 100px;


  }

  h6 {
    font-size: 1.3em;
  }

}


table {
  text-transform: uppercase;
  color: #001E3F;
  font-family: corona-semibold;

  border: 3px solid #001E3F;

  tr,
  th,
  td {
    border: 3px solid #001E3F;
    padding: 8px 2px;



  }

  .title-table {
    font-size: 1.8em;
  }

  span {
    font-size: 0.8em;

  }

  td {
    text-align: left;
  }


}

.tabela {

  a {
    color: #001E3F;
    text-transform: uppercase;
    font-family: corona-semibold;
    text-decoration: underline;

    &:hover {
      color: #FFC500;
    }
  }

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    margin-top: 30px;
    width: 70%;

  }



  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}

}



.beber span {
  font-family: corona-semibold;
  color: #001E3F;
  opacity: 0.5;
  position: absolute;
  right: 15px;


   /* Medium devices (landscape tablets, 768px and down) */
   @media only screen and (max-width: 768px) {
    bottom: -32px;

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    bottom: 10px;
  }

}


.text-participacao {

  small {
    font-family: corona-semibold;
    color: #001E3F;
    opacity: 0.5;

  }

}

.cliques {
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    color: #001E3F;
    text-transform: uppercase;
    font-family: corona-semibold;
    text-decoration: none;
    padding: 0;
    margin: 0 10px;

    &:hover {
      color: #FFC500;

    }
  }
}
