<div class="container-fluid">
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #001E3F">
      <div class="info-modal">
        <h2>
          SAC
        </h2>
        <p>
          Telefone: 0800 725 0126Horário de funcionamento: das 8 às 20h, de
          <br>
          segunda á sábado, exceto feriados nacionais.<br>
          Tempo de resposta de atendimento: No máximo 7 dias.

        </p>
      </div>

    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-12 bg-default-1 v1 mx-auto text-center"
      style="background-image:
      url('./assets/backgrounds/bg-corona.png');">
      <div class="logo">
        <a href="javascript:void(0)" routerLinkActive='active'
          routerLink='/home'>
          <img src="./assets/logos/logo-corona.png" alt="">

        </a>
      </div>
      <div class="element">
        <img src="./assets/icons/element-min.png" alt="">
      </div>
      <div class="infos mt-3">
        <h1>
          Como funciona?
        </h1>
        <h5>
          Você cadastra a sua origem e destino e a gente contabiliza <br>
          a distância. Só será considerado o trajeto de Ida.
        </h5>
      </div>

      <div class="row mt-3">
        <div class="col-lg-5 col-md-10 mx-auto text-center">
          <div class="premio">
            <h6>
              CONFIRA O VOUCHER QUE VOCÊ RECEBERÁ DO EMPÓRIO DA CERVEJA,
              DE ACORDO COM A SUA VIAGEM:
            </h6>
            <br>
            <p>
              500 km -> 1 pack de Corona (6 garrafas)
            </p>
            <p>
              1.000 km -> 2 packs de Coronas (12 garrafas)
            </p>
            <p>
              5.000 km -> 1 Caixa de Corona (24 garrafas)
            </p>
          </div>
        </div>
        <div class="col-lg-5 col-md-10 mx-auto text-center">
          <div class="tabela">
            <table class="w-100">

              <tr>
                <th class="title-table">Exemplo de Viagem</th>
                <th class="title-table">Distância</th>
                <th class="title-table">Prêmio</th>
              </tr>
              <tr>
                <td>Recife -> Fernando de Noronha</td>
                <td>540 km</td>
                <td>1 pack de corona</td>
              </tr>
              <tr>
                <td>Belo horizonte -> Ilha grande</td>
                <td>650 km</td>
                <td>1 pack de corona</td>
              </tr>
              <tr>
                <td>Rio de janeiro -> Bonito (MS)</td>
                <td>1.610 km</td>
                <td>2 pack de coronas</td>
              </tr>
              <tr>
                <td>São Paulo -> Jalapão (TO)</td>
                <td>1.839 km</td>
                <td>2 pack de coronas</td>
              </tr>
              <tr>
                <td>Florianópolis -> Punta Cana <br><span>(República Dominicana)</span></td>
                <td>5.556 km</td>
                <td>1 caixa de corona</td>
              </tr>



            </table>

            <a href="./assets/pdfs/Regulamento-completo.pdf" target="_blank">
              Acesse o regulamento completo
            </a>
          </div>
        </div>
      </div>
      <div class="botoes">

        <a href="javascript:void(0)" class="btn-corona"
          routerLinkActive='active'
          routerLink='/quero-participar'>
          Quero participar
        </a>
      </div>
      <div class="row">
        <div class="col-12 mx-auto text-center cliques">
          <ul class="px-0">
            <li>
              <a href="javascript:void(0)" data-toggle="modal"
                data-target=".bd-example-modal-lg">SAC</a>
            </li>
            <li>
              <a href="./assets/pdfs/Termos-de-uso.pdf" target="_blank">Termos
                de Uso</a>
            </li>
            <li>
              <a href="./assets/pdfs/Politica-de-privacidade.pdf"
                target="_blank">Política de Privacidade</a>
            </li>
            <li>
              <a
                href="https://www.ambev.com.br/sustentabilidade/consumo-inteligente">Consumo
                Responsável</a>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-6 mx-auto text-center text-participacao">
            <small>
              Participação válida para maiores de 18 anos domiciliados nas
              Capitais dos Estados brasileiros e do DF entre os dias 21/02 e
              01/03/2020 (horário de Brasília), sendo que a viagem deverá
              ocorrer entre 21 e 26/02/2020 a partir do domicílio do
              participante e, para efeitos de participação na promoção, será
              considerada apenas a quilometragem de ida. Antes de participar,
              leia o Regulamento em www.kmsdecorona.com.br. Certificado de
              Autorização SECAP/ME nº 03.007568/2020.
            </small>
          </div>
        </div>

      </div>
      <div class="beber">
        <span>
          Beba com moderação
        </span>
      </div>
    </div>
  </div>

</div>
