@import 'helpers';
@import 'variables';




.bg-ice {
  background-color: #FFF3EC;
}



.title {
  // font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
  color:  $color-6;
  &.v1 {
    color:  $color-1;
  }


}
