@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


@mixin box-shadow($hlenght:2px, $vLengh:2px, $blur:5px, $radius: 1px, $color: #000 )
{
    -webkit-box-shadow: $hlenght $vLengh $blur $radius $color;
    -moz-box-shadow: $hlenght $vLengh $blur $radius $color;
    box-shadow: $hlenght $vLengh $blur $radius $color;
}



@mixin bg-default()
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@mixin bg-shadow()
{
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.445);
    }
}


%container-carrousel{
    width: 100%;
    .position-history {
		width: 100%;
	}
    * { outline: none; }
	& > div { cursor: pointer; }
}

.alpha-5{
    opacity: 50%;
}

.d-radius{
    border-radius: 20px;
}
