//  Colors

$color-1: #F79256;
$color-2: #6CDFE0;

h1,
h5,
h6,
p {
  color: #001E3F;
  text-transform: uppercase;
  font-family: corona-semibold;
}

.info-modal {
  padding: 30px;

  h2,
  h3,
  p {
    color: white;
    font-family: corona-semibold;
  }
}

.bg-default {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
    /* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  height: auto;

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  height: 100vh;

}

}


.bg-default-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
    /* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  height: auto;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  height:110vh;

  &.v1{
    height: auto;
  }

  &.v2{
  height:120vh;

  }

}
}




.logo img {
  position: absolute;
  left: 25px;
  top: 25px;
}

.btn-corona {

  text-transform: uppercase;
  font-family: corona-semibold;
  border: 2px solid #001E3F;
  border-radius: 10px;
  color: white;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1px;
  background: #001E3F;

  &:hover {
    background-color: transparent;
    color: #001E3F;
  }

  &.v1 {
    padding: 25px 70px;
    background-color: #FFC500;
    border: 2px solid #FFC500;
    font-size: 1.9em;

    z-index: 999;
    &:hover {
      background-color: transparent;
      color: #001E3F;
    }

    /* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {



}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  position: relative;
    top: -160px;


}



  }

}
