@import 'helpers';
@import 'variables';

.logo img {
  position: absolute;

  @media only screen and (max-width: 768px) {
    left: 25px;
    top: 25px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    left: 35%;
    top: 25px;

  }
}
.logo img {

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    width: 34%;

  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
}

h5 {
  margin-top: 20px;
}

h1 {

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    margin-top: 200px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    margin-top: 180px;
  }
}

.botoes {
  margin: 30px 0;

}

.element img {
  position: absolute;

  transform: scale(1);
  transition: all (1s);

  &:hover {
    // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
    transition: all (500ms);
  }

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    width: 25%;
    right: 25px;
    top: 25px;

  }



  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

    right: 35%;
    top: 25px;

  }
}

.file-name {
  font-weight: bold;
}

form {
  text-align: left;

  .bg-yellow {
    border: 1px solid #FFC500;
    padding: 45px 10px;
    background-color: white;
    font-size: 1.6em;
    font-style: italic;
    font-weight: 200;
    color: #001E3F;

    &::placeholder {
      color: #001E3F;
      font-size: 1.4em;


    }


  }



  label {
    color: #001E3F;
    text-transform: uppercase;
    font-family: corona-semibold;



    &.file {
      display: block;
      background-color: #001E3F;
      color: white;
      padding: 30px 10px;
      border-radius: 10px;
      font-size: 1em;
      font-style: italic;
      font-weight: 200;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      text-transform: initial;
    }
  }

  input.form-control {
    background-color: #001E3F;
    color: white;
    padding: 28px 10px;
    border-radius: 10px;
    font-size: 1em;
    font-style: italic;
    font-weight: 200;

    &::placeholder {
      color: white;
      font-size: 0.8em;
      font-style: italic;
      font-weight: 200;


    }

    &.v1 {
      padding: 40px 10px;
      background-color: #FFC500;
      border: 1px solid #001E3F;
      font-size: 1.5em;

    }
  }
}

.fix-position {
  transform: translateY(-1px);
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  z-index: 9999;
  background: rgba(#000, 0.5);
  pointer-events: none;
  cursor: default;
  border-radius: 10px;
}



.beber span {
  font-family: corona-semibold;
  color: #001E3F;
  opacity: 0.5;


   /* Medium devices (landscape tablets, 768px and down) */
   @media only screen and (max-width: 768px) {

    position: relative;
    left: 200px;


  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    bottom: 10px;
  position: absolute;
  right: 15px;


  }

}

.km {
  &::placeholder {
    font-family: corona-semibold;

  }
}

.text-participacao {
  // margin-top: -30px;

  small {
    font-family: corona-semibold;
    color: #001E3F;
    opacity: 0.5;

  }

}

.cliques {
  text-align: center;
  // margin-top: -70px;

  li {
    display: inline-block;
  }

  a {
    color: #001E3F;
    text-transform: uppercase;
    font-family: corona-semibold;
    text-decoration: none;
    padding: 0;
    margin: 0 10px;

    &:hover {
      color: #FFC500;

    }
  }
}
