<div class="container-fluid overflow-hidden">
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #001E3F">
      <div class="info-modal">
        <h2>
          SAC
        </h2>
        <p>
          Telefone: 0800 725 0126Horário de funcionamento: das 8 às 20h, de
          <br>
          segunda á sábado, exceto feriados nacionais.<br>
          Tempo de resposta de atendimento: No máximo 7 dias.

        </p>
      </div>

    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-12 bg-default-1 v1 mx-auto text-center"
      style="background-image:
      url('./assets/backgrounds/bg-corona.png');">
      <div class="logo">
        <a href="javascript:void(0)" routerLinkActive='active' routerLink='/home'>
          <img src="./assets/logos/logo-corona.png" alt="">

        </a>
      </div>
      <div class="element">
        <img src="./assets/icons/element-min.png" alt="">
      </div>
      <div class="infos mt-3">
        <h1>
          Quanto mais longe a viagem, <br>
          mais coronas você ganha.
        </h1>
      </div>

      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto mt-3">
          <div class="loading" *ngIf="loading">
            <div class="spinner-border text-light spinner-border-lg"
              role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="form material-fix">
            <form [formGroup]="form" (submit)="save()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Nome Completo</label>
                  <input type="email" formControlName="name"
                    class="form-control" id="name"
                    placeholder="Digite o nome aqui..." required>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputdate5">Data de nascimento</label>
                  <mat-form-field appearance="outline" class="w-100
                    fix-position" floatLabel="always">
                    <mat-label></mat-label>
                    <input matInput
                      [max]="maxBirthdate"
                      placeholder="Escolha uma data"
                      (click)="picker.open()" formControlName="birthdate"
                      [satDatepicker]="picker">
                    <sat-datepicker #picker orderPeriodLabel="year"
                      [rangeMode]="false"></sat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputdate4">Celular</label>
                  <input type="text" formControlName="cell_phone"
                    class="form-control" id="inputdate4"
                    placeholder="Digite o contato aqui..." maxlength="13"
                    required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="inputcpf">CPF</label>
                  <input type="text" formControlName="cpf" class="form-control"
                    id="inputcpf"
                    [ngClass]="{'is-invalid':
                    form.get('cpf').errors?.cpf_invalid &&
                    form.get('cpf').touched}"
                    placeholder="Digite o cpf aqui..." mask="000.000.000-00"
                    [showMaskTyped]="true"
                    required>
                  <div class="invalid-feedback">
                    <span *ngIf="form.get('cpf').errors?.cpf_invalid &&
                      form.get('cpf').value">
                      CPF inválido
                    </span>
                    <span *ngIf="!form.get('cpf').value">
                      CPF Não informado
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md">
                  <label for="inputAddress">Endereço</label>
                  <input type="text" formControlName="address"
                    class="form-control" id="inputAddress"
                    placeholder="Digite endereço aqui..." required>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputEmail4">E-mail</label>
                  <input type="email" formControlName="email"
                    class="form-control" id="inputEmail4"
                    placeholder="Digite o e-mail aqui..." required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Origem</label>
                  <input type="text" (keyup)="searchCity('from', $event.target,
                    'origin_city')"
                    (blur)="calcKm()" formControlName="origin_city"
                    class="form-control"
                    placeholder="Insira uma cidade de origem"
                    [ngClass]="{'is-invalid':
                    form.get('origin_city').errors?.no_place && blur &&
                    form.get('origin_city').value}"
                    required>
                  <div class="invalid-feedback">
                    Nenhum local encontrado
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label>Data de saída</label>
                  <mat-form-field appearance="outline" class="w-100
                    fix-position" floatLabel="always">
                    <mat-label></mat-label>
                    <input matInput placeholder="Escolha uma data"
                      (click)="picker2.open()"
                      (dateChange)="selectDate($event)"
                      [min]="minDateOrigin"
                      [max]="maxDateOrigin"
                      formControlName="origin_date"
                      [satDatepicker]="picker2">
                    <sat-datepicker #picker2 [rangeMode]="false"></sat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                  <label>Destino</label>
                  <!-- <label>
                                      <img src="./assets/icons/point.png" alt="">

                                    </label> -->
                  <input type="text" (keyup)="searchCity('to', $event.target,
                    'destination_city')"
                    (blur)="calcKm()" formControlName="destination_city"
                    class="form-control"
                    placeholder="Insira uma cidade de destino"
                    [ngClass]="{'is-invalid':
                    form.get('destination_city').errors?.no_place && blur &&
                    form.get('destination_city').value }"

                    required>
                  <div class="invalid-feedback">
                    Nenhum local encontrado
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label>Data de chegada</label>
                  <mat-form-field appearance="outline" class="w-100
                    fix-position" floatLabel="always">
                    <mat-label></mat-label>
                    <input matInput placeholder="Escolha uma data"
                      [min]="minDateDestination"
                      (click)="picker3.open()"
                      formControlName="destination_date"
                      [satDatepicker]="picker3">
                    <sat-datepicker #picker3 [rangeMode]="false"></sat-datepicker>
                    <mat-hint class="text-danger"
                      *ngIf="(form.get('origin_date').value>
                      form.get('destination_date').value ) &&
                      form.get('destination_date').value">
                      Data de chegada maior que de saída
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="file">Comprove o Trecho Percorrido</label>

                  <label class="file text-truncate d-block" for="file">
                    <img src="./assets/icons/arrow.png" alt="">

                    Cartão de embarque, bilhete de ônibus, etc:
                    <span *ngIf="inputFile.files[0]" class="file-name">{{
                      inputFile.files[0].name }}</span>

                  </label>
                  <input type="file" class="form-control-file" id="file"
                    #inputFile
                    (change)="prepareUpload(inputFile)" hidden required>
                </div>
                <div class="form-group col-md-4 v1">
                  <label class="text-lowercase">KMs PERCORRIDOS</label>
                  <input type="text"
                    *ngIf="!form.get('km_distance_public').errors?.no_routes"
                    formControlName="km_distance_public" readonly
                    class="form-control km bg-yellow v1" placeholder="0 KM">
                  <input type="text"
                    *ngIf="form.get('km_distance_public').errors?.no_routes"
                    value="Sem rotas disponíveis" readonly class="bg-danger
                    form-control bg-yellow">
                </div>

              </div>
              <div class="form-group">
                <p>
                  Preenchimento Obrigatório*
                </p>
                <div class="form-check">
                  <input class="form-check-input"
                    formControlName="aggree_policy" type="checkbox"
                    id="gridCheck" required>
                  <label class="form-check-label cliques" for="gridCheck">
                    Aceito os <a href="./assets/pdfs/Termos-de-uso.pdf"
                      target="_blank">Termos de Uso</a> e <a
                      href="./assets/pdfs/Politica-de-privacidade.pdf"
                      target="_blank">Política de Privacidade</a>
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" formControlName="aggree_share"
                    type="checkbox"
                    id="gridCheck2">
                  <label class="form-check-label" for="gridCheck2">
                    Aceito receber todo o conteúdos da cervejaria AMBEV sobre
                    <br>
                    as marcas , produtos, programas de fidelidade, ofertas, <br>
                    promoções e eventos, via meios de contato por mim inseridos
                    <br>
                    ativamente, tais como email e celular.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" formControlName="aggree_prom"
                    type="checkbox"
                    id="gridCheck3">
                  <label class="form-check-label cliques" for="gridCheck3">
                    LI E ACEITO O <a
                      href="./assets/pdfs/Regulamento-completo.pdf"
                      target="_blank">
                      REGULAMENTO
                    </a> DA PROMOÇÃO
                  </label>
                </div>
              </div>
              <button type="submit" [disabled]="form.invalid || loading"
                class="btn btn-corona v1 float-lg-right">
                <span *ngIf="loading">Enviando...</span>
                <span *ngIf="!loading">Enviar</span>
              </button>
            </form>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto text-center cliques">
          <ul class="px-0">
            <li>
              <a href="javascript:void(0)" data-toggle="modal"
                data-target=".bd-example-modal-lg">SAC</a>
            </li>
            <li>
              <a href="./assets/pdfs/Termos-de-uso.pdf" target="_blank">Termos
                de Uso</a>
            </li>
            <li>
              <a href="./assets/pdfs/Politica-de-privacidade.pdf"
                target="_blank">Política de Privacidade</a>
            </li>
            <li>
              <a
                href="https://www.ambev.com.br/sustentabilidade/consumo-inteligente">Consumo
                Responsável</a>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-6 mx-auto text-center text-participacao">
            <small>
              Participação válida para maiores de 18 anos domiciliados nas
              Capitais dos Estados brasileiros e do DF entre os dias 21/02 e
              01/03/2020 (horário de Brasília), sendo que a viagem deverá
              ocorrer entre 21 e 26/02/2020 a partir do domicílio do
              participante e, para efeitos de participação na promoção, será
              considerada apenas a quilometragem de ida. Antes de participar,
              leia o Regulamento em www.kmsdecorona.com.br. Certificado de
              Autorização SECAP/ME nº 03.007568/2020.
            </small>
          </div>
        </div>
        <div class="beber">
          <span>
            Beba com moderação
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
