@import 'helpers';
@import 'variables';


.logo img {

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    width: 30%;

  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
}

h1 {
  font-size: 2.3em;
}

h5, small {
  margin-top: 20px;
  color: #001E3F;
  text-transform: uppercase;
  font-family: corona-semibold;
  z-index: 999 !important;
}

small{
  opacity: 0.5;
  position: relative;
  top: 30px;
}
.botoes {
  margin: 20px 0;

  a {
    display: inline-block;
    margin: 10px;
  }
}

.bottle img {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(1);
  transition: all (1.2s);
  z-index: -1;

  &:hover {
    // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
    transition: all (500ms);
  }

  @media only screen and (max-width: 768px) {
    width: 30%;

  }



  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
}



.element img {
  margin-top: 120px;
  transform: scale(1);
  transition: all (1s);

  &:hover {
    // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
    transition: all (500ms);
  }

  /* Medium devices (landscape tablets, 768px and down) */
  @media only screen and (max-width: 768px) {
    width: 50%;

  }



  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
}


.beber span {
  font-family: corona-semibold;
  color: #001E3F;
  opacity: 0.5;
  position: absolute;
  right: 15px;


   /* Medium devices (landscape tablets, 768px and down) */
   @media only screen and (max-width: 768px) {
    bottom: -50px;

  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    bottom: 10px;
  }

}


.text-participacao {
  margin-top: -20px;
  small {
    font-family: corona-semibold;
    color: #001E3F;
    opacity: 0.5;

  }

}

.cliques {
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    color: #001E3F;
    text-transform: uppercase;
    font-family: corona-semibold;
    text-decoration: none;
    padding: 0;
    margin: 0 10px;

    &:hover {
      color: #FFC500;

    }
  }
}
