<div class="container-fluid">
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #001E3F">
      <div class="info-modal">
        <h2>
          SAC
        </h2>
        <p>
          Telefone: 0800 725 0126Horário de funcionamento: das 8 às 20h, de
          <br>
          segunda á sábado, exceto feriados nacionais.<br>
          Tempo de resposta de atendimento: No máximo 7 dias.

        </p>
      </div>

    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-12 bg-default-1 v2 mx-auto text-center"
      style="background-image:
      url('./assets/backgrounds/bg-corona.png');">
      <div class="logo">
        <a href="javascript:void(0)" routerLinkActive='active'
          routerLink='/home'>
          <img src="./assets/logos/logo-corona.png" alt="">

        </a>
      </div>
      <div class="element">
        <img src="./assets/icons/element.png" alt="">
      </div>
      <div class="infos mt-3">

        <h1>
          Fugiu da folia pra <br>
          curtir o Paraíso?
        </h1>
        <h5>
          Isso vale um Brinde! Quanto mais longe <br>
          a viagem, mais coronas você ganha.
        </h5>
      </div>
      <div class="bottle">
        <img src="./assets/icons/bottle.png" alt="">
      </div>
      <div class="botoes">
        <a href="javascript:void(0)" class="btn-corona"
          routerLinkActive='active'
          routerLink='/como-funciona'>
          Como funciona?
        </a>
        <a href="javascript:void(0)" class="btn-corona"
          routerLinkActive='active'
          routerLink='/quero-participar'>
          Quero participar
        </a>
      </div>
      <div class="row">
        <div class="col-12 mx-auto text-center cliques">
          <ul class="px-0">
            <li>
              <a href="javascript:void(0)" data-toggle="modal"
                data-target=".bd-example-modal-lg">SAC</a>
            </li>
            <li>
              <a href="./assets/pdfs/Termos-de-uso.pdf" target="_blank">Termos
                de Uso</a>
            </li>
            <li>
              <a href="./assets/pdfs/Politica-de-privacidade.pdf"
                target="_blank">Política de Privacidade</a>
            </li>
            <li>
              <a
                href="https://www.ambev.com.br/sustentabilidade/consumo-inteligente">Consumo
                Responsável</a>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-6 mx-auto text-center text-participacao">
            <small>
              Participação válida para maiores de 18 anos domiciliados nas
              Capitais dos Estados brasileiros e do DF entre os dias 21/02 e
              01/03/2020 (horário de Brasília), sendo que a viagem deverá
              ocorrer entre 21 e 26/02/2020 a partir do domicílio do
              participante e, para efeitos de participação na promoção, será
              considerada apenas a quilometragem de ida. Antes de participar,
              leia o Regulamento em www.kmsdecorona.com.br. Certificado de
              Autorização SECAP/ME nº 03.007568/2020.
            </small>
          </div>
        </div>

      </div>
      <div class="beber">
        <span>
          Beba com moderação
        </span>
      </div>
    </div>

  </div>

</div>
