// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$corona-primary                 : mat-palette($mat-indigo);
$corona-accent                  : mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$corona-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$corona-theme: mat-light-theme($corona-primary, $corona-accent, $corona-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($corona-theme);

/* You can add global styles to this file, and also import other style files */
@import '~saturn-datepicker/theming';
@include sat-datepicker-theme($corona-theme);

@font-face {
  font-family: 'corona-semibold';
  src        : url("./assets/fonts/corona/corona-semibold.eot");
  src        : url("./assets/fonts/corona/corona-semibold.eot?#iefix") format("embedded-opentype"),
    url('./assets/fonts/corona/corona-semibold.woff2') format('woff2'),
    url('./assets/fonts/corona/corona-semibold.woff') format('woff'),
    url('./assets/fonts/corona/corona-semibold.ttf') format('truetype'),
    url('./assets/fonts/corona/corona-semibold.svg#corona-semibold') format('svg');
  font-weight: normal;
  font-style : normal;
}

html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




.mat-form-field-infix input.mat-input-element {
  background-color: #001E3F;
  color           : white;
  padding         : 19px 10px;
  border-radius   : 10px;
  margin-top: 1px;
  font-size       : 1em;
  font-style      : italic;
  font-weight     : 200;

  &::placeholder {
      color      : white;
      font-size  : 0.8em;
      font-style : italic;
      font-weight: 200;


  }
}
.mat-form-field-infix {
  padding: 0;
  display: none;
  border-top: none;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
}

.material-fix .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 ;
}

.v1{
  label{
    text-transform: none;

  }
}



